<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mark.app.hjshop4a">
    <uses-permission android:name="android.permission.VIBRATE" />  <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />        <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />   <!-- 自动聚焦权限 -->
    <!--友盟-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 支付宝权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- 自动适配 -->
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />
        <!--&lt;!&ndash; 7.0文件Uri &ndash;&gt;-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${WHITE_FILEPROVIDER}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.start.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.activity.LoginActivity" android:screenOrientation="portrait"></activity>
       <activity android:name=".ui.login.activity.ForgetActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.start.GuideActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.start.PermisstionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.homepager.activity.HomePagerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.start.StartActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.activity.RegisterActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.calendarview.CalendarViewActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.web.WebActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.login.activity.LoginSwitchActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.about.AboutActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.userinfo.IDCardImgActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.recommend.RecommendActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.userinfo.UserInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.userinfo.BasicInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.userinfo.CertificationInfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.userinfo.ModifyPWActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.bankcard.activity.BankCardActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.bankcard.activity.BankCardAddActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.assedetail.AssetDetailActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.goldbeanconsume.MemberGoldBeanConsumeActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.userinfo.PayPWDActivity" android:screenOrientation="portrait"/>
        <!--会员-->
        <activity android:name=".ui.onlinerecharge.OnlineRechargeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.consumptionbill.ConsumptionBillActivty" android:screenOrientation="portrait"/>
        <activity android:name=".ui.businessapply.BusinessApplicationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.businessapply.IdCardCheckActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.businessapply.BusniessCompanyActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.business.busniessinfo.BusinessStoreImgActivity" android:screenOrientation="portrait"/>
        <!--商户-->
        <activity android:name=".ui.business.busniessinfo.BusniessInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.business.busniessinfo.CompanyInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.business.zxing.BusniessZxingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.goldbeanconsume.BusniessGoldBeanConsumeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.business.consumecommit.CommitRuleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.business.consumecommit.ConsumeCommitActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.business.billrecord.BusniessBillRecordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.withdraw.WithDrawActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.withdrawdetail.WithDrawDetailActivity" android:screenOrientation="portrait"/>
        <!--区代理-->
        <activity android:name=".ui.areaagent.areabusniess.AreaBusniessActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.areaagent.businessreview.BusinessReviewActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.areaagent.agentperformance.AgentPerformanceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.areaagent.areaincome.AreaIncomeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.areaagent.billreview.AreaBillReviewActivity" android:screenOrientation="portrait"/>
        <!--省代理-->
        <activity android:name=".ui.provinceagent.areabusniess.ProvinceAreaBusniessActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.provinceagent.agentperFormance.PAgentPerformanceActivity" android:screenOrientation="portrait"/>
        <!--友盟-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>
</manifest>
